.navbar a strong{
  padding:0px;
    font-size: 22pt;
   margin-bottom:10px;
   
}

  header{
      position:relative;
      z-index:10;
      
  }
.navbar-dark .navbar-brand strong span{
    color:#2EA3F2;
    
}
.navbar-dark .navbar-brand{
    border-bottom:2px #2EA3F2 !important;
}
.bord{
    position: relative;
}
.bord:before{
    content: " ";
    position: absolute;
    top: 52px;
    left: 65px;
    right: 0px;
    border-bottom: 2px solid #2EA3F2;
    
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.bg-dark {
    background-color: #333333!important;
}
.navbar-dark .navbar-toggler {
    border: none;
}

#dropdownMenuButton{
    color:#2EA3F2;
    background-color:transparent;
    border: none;
    padding:12px 0;
    font-size:10pt;
    font-weight:bold;
    letter-spacing: 0.3px;
}
a.dropdown-item{
    cursor:pointer;
    color:#2EA3F2;
    padding:.15rem 0.2rem;
    font-size:14px;
    letter-spacing:0.3px;
    
}
.dropdown-menu{
    width:60px;
   min-width:4rem;
}
.btn-secondary.focus, .btn-secondary:focus , .show>.btn-secondary.dropdown-toggle:focus, .btn-secondary.focus[_ngcontent-jet-c1]{
   box-shadow:none;
}
.list-unstyled{
    text-align:right;
}
.logo-img{
    width:52px;
    height:auto;
    filter: brightness(0) saturate(100%) invert(100%) sepia(93%) saturate(1%) hue-rotate(205deg) brightness(106%) contrast(100%);
    color:#fff;
    margin:8px 10px 8px 0;
}
span.file i{
    color:#fff;
    margin-left:5px;
}

@media only screen and (max-width: 960px) {
    .navbar a strong{
        font-size:22px;
          
      }
  }
  @media only screen and (max-width: 760px) {
    .navbar a strong{
        font-size:18px;
          
      }
      .logo-img{
        width:45px;
        
    }
      .bord:before{
        top: 43px;
        left: 54px;
        right: 0px;
        border-bottom: 2px solid #2EA3F2;
        
    }
    .dropdown-menu{
        min-width:3.4rem;
     }
  }
  @media only screen and (max-width: 480px) {
    .logo-img{
        width:35px;
        
    }
    .navbar a strong{
        font-size:12px;
      }
      .navbar-brand svg{
        width:20px;
        height:30px;
    }
    .bord:before{
        
        top: 37px;
        left:45px;
        
        
    }
    
     
  }