

<header>
  <div class="navbar navbar-dark   bg-dark shadow-sm">
   <div class="d-flex flex-column flex-md-row align-items-center px-md-4 px-sm-4 px-2">
     <a  href="#" class="navbar-brand d-flex bord align-items-center">
         <img class="logo-img" src="assets/images/logo.svg" alt="Card image cap">
       <strong><span>Secure</span> Portal Center</strong>
     </a>
   </div>
   <div class="collapse bg-dark" id="navbarHeader">
  </div>
     <nav class="my-md-0 mr-md-3">
       <button *ngIf="!this.currentUser" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>

       <div class="dropdown" *ngIf="this.currentUser">
           <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{this.currentUser.username}}
           </button>
           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
             <a class="dropdown-item" (click)="logout()">Logout</a>
           </div>
       </div>
     </nav>
   
 </div>
</header>