<footer>
    <div class="container text-center my-2">
    <p>&copy;2020 Bridgewing Technologies, All Rights Reserved | <a href="">Terms of Use</a> and <a href="">Privacy Statement</a></p>
    </div>
    </footer>
