
 <div class="container d-flex">
    <div class="w-100 row">
        <div class="form col-md-6 offset-md-3 col-12">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
                <h5 class="my-4">Login</h5>
                <div class="form-group">
                    <input type="text" formControlName="code" class="form-control" placeholder="*CLIENT CODE" [ngClass]="{ 'is-invalid': submitted && f.code.errors }" />
                        <div *ngIf="submitted && f.code.errors"  class="invalid-feedback">
                                <div *ngIf="f.code.errors.required">code is required</div>
                        </div>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="username" class="form-control" placeholder="*USERNAME" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors"  class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" formControlName="password" class="form-control" placeholder="PASSWORD" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group">
                    <button  [disabled]="!registerForm.valid" (click)="login()" class="btn btn-primary btn-block">LOGIN</button>
                </div>
            </form>
        </div>
    </div>
</div><!--container-->
