
form{
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,.2);
    padding:20px;
 }
.container{
  min-height: 75vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
    padding-right: 15px;
    
}
.row{
  padding-left: 0;
padding-right: 0;
margin-left: 0;
margin-right: 0;
    
}
.form{
  align-self: center !important;
}
.form-group {
    margin-bottom: 2.5rem !important;
}
.form-control {
    line-height:1.7 !important;
    border: 1px solid #cacaca !important;
}
form h5{
    color:#2EA3F2 !important;
    font-weight:300;
    font-size:26px;
   letter-spacing:0.9px;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#cacaca;
    opacity: 1; /* Firefox */
    letter-spacing:1.7px;
    font-size:12px;
    font-weight:600;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#cacaca;
    letter-spacing:1.7px;
    font-size:12px;
    font-weight:700;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color:#cacaca;
    letter-spacing:1.7px;
    font-size:12px;
    font-weight:600;
  }
  .form-group button{
    letter-spacing: 1.6px;
  }

  