<div *ngIf="user">
    <div class="container">
      <div class="user-history text-center my-2">
        <div class="row my-2">
            <div class="col-md-6 col-6 navigation-icon" style="text-align: left">
              <span></span><a (click)="goBack()">Patients</a>
            </div>
          
        </div> 
        <div class="row">
          <div class="col-md-12 text-detail text-center">
              <img class="card-img-top" src="assets/images/Patient.svg" alt="Card image cap">
              <h4>{{user.name | uppercase}}</h4>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover my-4">
                      <tbody>
                        <tr>
                          <td class="col-xs-3 general-info">Address</td>
                          <td class="col-xs-9">{{user.address}}</td> 
                        </tr>
                        <tr>
                            <td class="col-xs-3 general-info">Work</td>
                            <td class="col-xs-9">404-991-9375</td> 
                          </tr>
                          <tr>
                              <td class="col-xs-3 general-info">Email</td>
                              <td class="col-xs-9">robert@randeng.com</td> 
                            </tr>
                            <tr>
                                <td class="col-xs-3 general-info">DOB</td>
                                <td class="col-xs-9">January 01, 1980</td> 
                              </tr>
                              <tr>
                                  <td class="col-xs-3 general-info">Gender</td>
                                  <td class="col-xs-9">Male</td> 
                                </tr>
                      </tbody>
                  </table>
              </div>
        </div>
        </div>

      </div>
  </div>

