.container{
    max-width:640px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 75vh;
}


.user-history{

box-shadow: 2px 2px 5px 0 rgba(0,0,0,.2);
padding:20px;

}
.card-img-top{
    width:auto;
     height:120px;
 }
 .general-info{
     font-size:18px;
     font-weight:bold;
 }

 .navigation-icon{
    color:#2EA3F2;
    cursor: pointer;
}
 