.container{
    max-width:640px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 75vh;
}
.daysheet-container{
    
     max-width:640px;
     margin-left: auto;
     margin-right: auto;
     
 }


.number_info, .table td.fullname{
    color:#333;
    }
    .table td.fullname{
       font-family:'Open Sans Extrabold', sans-serif;
       font-size:8pt;
       
        }

table{
    border:1px solid #cacaca;
    font-size:11px;
}
.table td{
    border-top:0px;
    vertical-align:middle;
    padding: .30rem;
    text-align:center;
}
.table tr{
    border-bottom:1px solid #cacaca;
}
.table td.fullname{
    display:block;
    width:100%;
    text-align:left;
}
.table td.description{
    display:inline-block;
    clear:both;
    width:25%;
    background-color:#f2f2f2;
    border-right:3px solid #cacaca;
    text-align:center;
    color:#666;
    font-weight:500;
    
}
.navigation-icon i{
        color:#2EA3F2;
        cursor: pointer;
}
.navigation-icon a{
      font-size:18px;
  }
  .number_info{
      font-size:18px;
  }
  .upload-icon i{
    color:#000;
    font-size:18px;
  }
  .calender input{
      background-color:transparent;
      color:#fff;
     
      width:50%;
      margin:auto;
      display:block;
      text-align:center;
  }
  .calender input::placeholder{
    
    color:#fff;
    border:0px;
}
.calender .ui-calender .ui-inputtext {
    font-size: 14px;
    color: #333333;
    background: #000 !important;
    padding: 0.429em;
    border: 1px solid #a6a6a6;
    transition: border-color 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.calender{
    background-color:#f2f2f2;
    border-radius:10px;
    padding:4px;
    text-align:center;

}
.calender .fa {
    padding:0 5px;
    color:#666666;
    
    
}
.navigation-icon a{
    font-size:17px;
 }
 .navigation-icon a span{
     padding-left:8px;
  }
  .navigation-icon .fa{
 font-size:1.4rem;
  }
