<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="daysheet-container">
              <div class="row my-3">
                  <div class="col-sm-6 col-6 navigation-icon"  style="text-align: left">
                    <a  [routerLink]="['/dashboard']"><i class="fa fa-chevron-left"></i><span>Dashboard</span></a>
                  </div>
                  <div class="col-sm-6 col-6 navigation-icon" style="text-align: right">
                      <a ><i class="fa fa-plus"></i></a>
                  </div>
              </div> 
            <div class="form-group"> 
                <div class="calender">
                    <a><i class="fa  fa-2x fa-caret-left"></i></a>
                    <a><i class="fa fa-2x fa-caret-right"></i></a>
                    <p-calendar  #calendar [(ngModel)]="value" dateFormat="DD, MM dd, yy"  placeholder="Friday, June 15, 2019"></p-calendar>
                    <a (click)="openCalendar($event)"><i class="fa  fa-2x fa-caret-down"></i></a>
                </div>
              </div>
                  <table class="table my-4">
                    <tbody>
                      <tr>
                          <td class="number_info" width="8%" rowspan="1"><strong>001</strong></td>
                          <td  class="fullname"><strong>Balsamo Gary, gary</strong></td>
                          <td  class="description">$55.00</td>
                          <td class="description">$123.48</td>
                          <td class="description">12</td>
                          <td class="description">
                            <div class="upload-icon">
                              <a><i class="fa  fa-arrow-circle-o-up"></i></a>
                            </div>
                          </td>
                          <td class="number_info" width="8%" rowspan="1">
                              <div class="navigation-icon">
                                  <a><i class="fa fa-chevron-right"></i></a>
                                </div>
                          </td>
                      </tr>
                      <tr>
                          <td class="number_info" width="8%" rowspan="1"><strong>001</strong></td>
                          <td  class="fullname"><strong>Balsamo Gary, gary</strong></td>
                          <td  class="description">$55.00</td>
                          <td class="description">$123.48</td>
                          <td class="description">12</td>
                          <td class="description">
                            <div class="upload-icon">
                              <a><i class="fa  fa-arrow-circle-o-up"></i></a>
                            </div>
                          </td>
                          <td class="number_info" width="8%" rowspan="1">
                              <div class="navigation-icon">
                                  <a><i class="fa fa-chevron-right"></i></a>
                                </div>
                          </td>
                      </tr>
                      <tr>
                          <td class="number_info" width="8%" rowspan="1"><strong>001</strong></td>
                          <td  class="fullname"><strong>Balsamo Gary, gary</strong></td>
                          <td  class="description">$55.00</td>
                          <td class="description">$123.48</td>
                          <td class="description">12</td>
                          <td class="description">
                            <div class="upload-icon">
                              <a><i class="fa  fa-arrow-circle-o-up"></i></a>
                            </div>
                          </td>
                          <td class="number_info" width="8%" rowspan="1">
                              <div class="navigation-icon">
                                  <a><i class="fa fa-chevron-right"></i></a>
                                </div>
                          </td>
                      </tr>
                      <tr>
                          <td class="number_info" width="8%" rowspan="1"><strong>001</strong></td>
                          <td  class="fullname"><strong>Balsamo Gary, gary</strong></td>
                          <td  class="description">$55.00</td>
                          <td class="description">$123.48</td>
                          <td class="description">12</td>
                          <td class="description">
                            <div class="upload-icon">
                              <a><i class="fa  fa-arrow-circle-o-up"></i></a>
                            </div>
                          </td>
                          <td class="number_info" width="8%" rowspan="1">
                              <div class="navigation-icon">
                                  <a><i class="fa fa-chevron-right"></i></a>
                                </div>
                          </td>
                      </tr>

                      <!--<tr>
                          <td width="7%" rowspan="1">001</td>
                          <td  class="fullname">Balsamo Gary, gary</td>
                          <td  class="description">Store Name 1</td>
                          <td class="description">Store Name 1</td>
                          <td class="description">Store Name 1</td>
                          <td class="description">Store Name 1</td>
                          <td width="7%" rowspan="1">
                              <div class="navigation-icon">
                                  <a>
                                      <i class="fa fa-chevron-right"></i>
                                  </a>
                                </div>
                          </td>
                      
                      </tr>-->
                    </tbody>
                  </table>
            </div>
        </div>

        </div>
</div>
