<!--<div class="container my-2">
  <div class="table-container">

  <div class="col-md-12">

      <div class="row my-2">
          <div class="col-sm-6 col-6 navigation-icon"  style="text-align: left">
            <a (click)="goBack()"><span><i class="fa fa-angle-left fa-2x "></i></span>Dashboard</a>
          </div>
          <div class="col-sm-6 col-6 navigation-icon" style="text-align: right">
              <a (click)="edit()"><i class="fa fa-plus"></i></a>
          </div>
      </div> 
      
      <div class="form-group has-search"> 
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" placeholder="Search" [(ngModel)]="name">
        </div>

      <table class="table table-striped table-hover">
        <tbody>
          <tr *ngFor="let user of users | filterAll:name | paginate: config; let i = index"  (click)="onSelect(user.id)">
            
            <td class="col-xs-1 text-center"><img class="card-img-top" src="assets/images/Patient.svg" alt="Card image cap"></td>
            <td class="col-xs-10">
              <div class="record_patients">
                  <span>{{user.name}}</span>
                  <p>{{user.address}}</p>
              </div>
            </td>
            <td class="col-xs-1 text-center">
              <div class="navigation-icon">
                <a>
                    <i class="fa fa-2x fa-angle-right"></i>
                </a>
              </div>
            </td>
          </tr>
          
        </tbody>
      </table>

      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
</div>
</div>-->

<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="table-container">
            <div class="row my-3">
                <div class="col-sm-6 col-6 navigation-icon"  style="text-align: left">
                  <a (click)="goBack()"><i class="fa fa-chevron-left"></i><span>Dashboard</span></a>
                </div>
                <div class="col-sm-6 col-6 navigation-icon" style="text-align: right">
                    <a (click)="edit()"><i class="fa fa-plus"></i></a>
                </div>
            </div> 
            
            <div class="form-group has-search my-2"> 
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="name">
              </div>
      
            <table class="table table-striped table-hover">
              <tbody>
                <tr *ngFor="let user of users | filterAll:name | paginate: config; let i = index"  (click)="onSelect(user.id)">
                  
                  <td class="col-xs-1 text-center"><img class="card-img-top" src="assets/images/Patient.svg" alt="Card image cap"></td>
                  <td class="col-xs-10">
                    <div class="record_patients">
                        <span>{{user.name}}</span>
                        <p>{{user.address}}</p>
                    </div>
                  </td>
                  <td class="col-xs-1 text-center">
                    <div class="navigation-icon">
                      <a>
                          <i class="fa fa-2x fa-angle-right"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                
              </tbody>
            </table>
      
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>

    </div>
  </div>
</div>