.container{
    padding-left: 15px;
    padding-right: 15px;
    min-height: 75vh;
}
.table-container{
    max-width:640px;
    margin-left: auto;
    margin-right: auto;
    
 }
table{
    border:1px solid #dadada;
}
.has-search{
    background-color: #fff;
    padding:0;
    
    border:none;
}
.has-search .form-control {
    padding-left: 1.975rem;
    border:none;
    border-radius:7px;
    background-color: #E4E3E8;
}
.has-search .form-control:focus{
    border:none;
    outline:0px !important;
    box-shadow:none;
    -webkit-appearance:none;
}
.has-search .form-control-feedback {
    position: absolute;
  
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


.card-img-top{
    width:auto;
     height:40px;
 }
 .table td{
   padding:0.25rem;
   vertical-align:middle;
 }
 .table td:hover{
    cursor: pointer;
  }
 .record_patients span{
    font-size:13px;
    font-weight:bold;
    
}
 .record_patients p{
     font-size:12px;
     margin-bottom:0px;
    
 }
 .record_patients span, .record_patients p {
    color:#666;
 }
 .navigation-icon {
     text-align:center;
 }
 nav{
     overflow:hidden;
 }
 ul.pagination{
     float:right;
 }
 .navigation-icon i,  .navigation-icon a {
     color:#2EA3F2;
     cursor: pointer;
 }

 
.navigation-icon a{
   font-size:17px;
}
.navigation-icon a span{
    padding-left:8px;
 }
 .navigation-icon .fa{
font-size:1.4rem;
 }
 