
<div class="container my-5 mx-auto">
  <div class="row">
      <div class="offset-sm-1 col-sm-4 col-6">
         <div class="card" (click)="getHistory()">
                <img class="card-img-top mx-auto pt-4" src="assets/images/Patient.svg" alt="Card image cap">
                <div class="card-body">
                        <p class="card-text text-center">Patients</p>
                </div>
           
            </div>
        </div>
        <div class="col-sm-4 offset-sm-2 col-6">
           <div class="card">
               <img class="card-img-top  mx-auto pt-4" src="assets/images/Provider-Multiple.svg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-center">Providers</p>
                </div>
            </div>
           
        </div>
   
  </div>
  <div class="row my-5">
        <div class="offset-sm-1 col-sm-4 col-6">
          <div class="card" (click)="getDaysheet()">
                  <img class="card-img-top  mx-auto pt-4" src="assets/images/Daysheet.svg" alt="Card image cap">
                  <div class="card-body">
                      <p class="card-text text-center">Daysheet</p>
                  </div>
              </div>
          </div>
        <div class="col-sm-4 offset-sm-2 col-6">
            <div class="card">
                  <img class="card-img-top  mx-auto pt-4" src="assets/images/Message.svg" alt="Card image cap">
                  <div class="card-body">
                      <p class="card-text text-center">Messages</p>
                  </div>
              </div>
       </div>
      </div>
      <div class="row">
          <div class="offset-sm-1 col-sm-4 col-6">
            <div class="card">
                    <img class="card-img-top  mx-auto pt-4" src="assets/images/Report.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center">Reports</p>
                    </div>
                </div>
            </div>
          <div class="col-sm-4 offset-sm-2 col-6">
              <div class="card">
                    <img class="card-img-top  mx-auto pt-4" src="assets/images/Setting.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center">Settings</p>
                    </div>
                </div>
         </div>
        </div>
       
</div>