.container{
    max-width:640px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 75vh;
}
.card:hover{
    border:8px solid #2EA3F2;
    overflow:hidden;
    cursor: pointer;
}
.card-img-top{
   width:80px;
    height:auto;
    margin:auto;
    display: block;
}
.card:hover img{
    margin: -4px;
}
.card{
    border:4px solid #2EA3F2;
    border-radius:1.9rem;
}
.card-body{
    padding:0.2rem;
}
.card-text{
    font-size:8pt;
    letter-spacing:0.4px;
    font-family: "Open Sans";
   font-weight: bolder;
    color: #666666;
}

@media only screen and (max-width: 390px) {
    .card-text{
        font-size:9px;
        font-weight:500;
    }
    .card-img-top{
        width:60px;
         height:auto;
        
         
     }
  }