<div class="container">
    <div class="row">
        <div class="col-md-12">
<div class="edit-container">
  
  
         <!--<div class="col-sm-6 col-6 navigation"  style="text-align: left">
          <a [routerLink]="['/dashboard']" >Dashboard</a>
        </div>-->
        <div class="row my-3">
            <div class="col-sm-6 col-6 navigation-icon"  style="text-align: left">
              <a [routerLink]="['/dashboard']"><i class="fa fa-chevron-left"></i><span>Dashboard</span></a>
            </div>
            <div class="col-sm-6 col-6 navigation-icon" style="text-align: right">
                <a (click)="edit()"><i class="fa fa-plus"></i></a>
            </div>
        </div> 
        
    
   
    <div class="row">
      <div class="col-sm-12 col-12 mx-auto my-2">
          <form [formGroup]="addEditPatientForm">
            <div class="name_info row">
                <div class="col-sm-2 col-2">
                  <img class="card-img-top img-rounded" src="assets/images/Patient.svg" alt="Card image cap">
                </div>
                <div class="col-sm-10 col-10">
                      <div class="row edit-row">
                        <div class="input-group">
                          <input type="text" class="form-control wd-100" formControlName="fname" placeholder="First name" #fname>
                          <button style="margin-left: -30px; z-index: 100;" (click)="fname.value=''" class="btn bg-transparent">
                              <i class="fa fa-times"></i>
                          </button>
                       </div>
                        </div>
                       <div class="row edit-row">
                          <div class="input-group">
                            <input type="text" class="form-control wd-100" formControlName="lname" placeholder="Last name" #lname>
                            <button style="margin-left: -30px; z-index: 100;" (click)="lname.value=''" class="btn bg-transparent">
                                <i class="fa fa-times"></i>
                            </button>
                                
                            </div>
                      </div>
                      <div class="row edit-row">
                      <div class="input-group">
                              <input type="text" class="form-control wd-100" formControlName="company" placeholder="Company" #company>
                              <button style="margin-left: -30px; z-index: 100;" (click)="company.value=''" class="btn bg-transparent">
                                  <i class="fa fa-times"></i>
                              </button>
                                  
                                
                        </div>
                        </div>
                </div>
           </div><!--name_info-->

          

                <div class="row my-2">
                   <div class="input-group" formArrayName="address">
                      <div class="col-sm-12 my-2" *ngFor="let item of address.controls; let pointIndex=index" [formGroupName]="pointIndex">
                       <button *ngIf="pointIndex>0" style="float:left;width:15%;border-right:1px solid grey;" (click)="deleteaddress(pointIndex)" class="btn bg-transparent">
                            <i class="fa fa-minus"></i>
                        </button>
                    
                       <input *ngIf="pointIndex>0" style="float:left;width:85%;" class="form-control colorDark" formControlName="address" placeholder="add address" >
                        <button *ngIf="pointIndex>0" style="float:left;width:2%;margin-left: -30px; z-index: 100;"   class="btn bg-transparent">
                            <i class="fa fa-times"></i>
                        </button>
                      </div>
                    </div>
                </div>
                <div class="row">
                  <div class="input-group">
                      <div class="col-md-12">
                        <button  style="float:left;width:9%;" (click)="addaddress()" class="btn bg-transparent">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button style="float:left;width:91%;" class="btn bg-transparent text-left address">address</button>
                      
                    </div>
                  </div>
                 </div>
                
                 <div class="row my-2">
                    <div class="input-group" formArrayName="demographics">
                       <div class="col-sm-12 my-2" *ngFor="let item of demographics.controls; let graphicIndex=index" [formGroupName]="graphicIndex">
                        <button *ngIf="graphicIndex>0" style="float:left;width:15%;border-right:1px solid grey;" (click)="deletedemographics(graphicIndex)" class="btn bg-transparent">
                             <i class="fa fa-minus"></i>
                         </button>
                     
                        <input *ngIf="graphicIndex>0" style="float:left;width:85%;" class="form-control colorDark" formControlName="address" placeholder="add demographics">
                         <button *ngIf="graphicIndex>0" style="float:left;width:2%;margin-left: -30px; z-index: 100;"  class="btn bg-transparent">
                             <i class="fa fa-times"></i>
                         </button>
                       </div>
                     </div>
                 </div>
                 <div class="row">
                   <div class="input-group">
                       <div class="col-md-12">
                         <button  style="float:left;width:9%;" (click)="adddemographics()" class="btn bg-transparent">
                             <i class="fa fa-plus"></i>
                         </button>
                         <button style="float:left;width:91%;" class="btn bg-transparent text-left address">add demographics</button>
                       
                     </div>
                   </div>
                  </div>



                
                 <div class="row my-4">
                    <div class="input-group" formArrayName="insurance">
                     <div class="col-md-12 my-2 " *ngFor="let item of insurance.controls; let insuranceIndex=index" [formGroupName]="insuranceIndex">
                        <button style="float:left;width:9%;" (click)="addinsurance()" class="btn bg-transparent">
                             <i class="fa fa-plus"></i>
                         </button>
                        <input style="float:left;width:91%;" class="form-control colorDark" formControlName="insurance" placeholder="add insurance information"/>
                         <button style="float:left;width:2%;margin-left: -30px; z-index: 100;" (click)="deleteinsurance(insuranceIndex)" class="btn bg-transparent">
                             <i class="fa fa-times"></i>
                         </button>
                      </div>
                   </div>
                 </div>
                 <div class="row my-4">
                    <div class="input-group" formArrayName="addnote">
                     <div class="col-md-12 my-2 " *ngFor="let item of addnote.controls; let addnoteIndex=index" [formGroupName]="addnoteIndex">
                        <button style="float:left;width:9%;" (click)="addaddnote()" class="btn bg-transparent">
                             <i class="fa fa-plus"></i>
                         </button>
                        <input style="float:left;width:91%;" class="form-control colorDark" formControlName="addnote" placeholder="add file note"/>
                         <button style="float:left;width:2%;margin-left: -30px; z-index: 100;" (click)="deleteaddnote(addnoteIndex)" class="btn bg-transparent">
                             <i class="fa fa-times"></i>
                         </button>
                      </div>
                   </div>
                 </div>
              
              <!--<div class="input-group my-4">
                  <button class="btn bg-transparent">
                      <i class="fa fa-plus"></i>
                    </button>
                  <input type="text" class="form-control" formControlName="addnote" placeholder="add file note">
                  <button class="btn bg-transparent" style="margin-left: -40px; z-index: 100;">
                    <i class="fa fa-times"></i>
                  </button>
              </div>-->
              

            </form>
            
      </div>
    </div>
  </div>
  
</div>

