.container{
  padding-left: 15px;
  padding-right: 15px;
  min-height: 75vh;
}


.edit-container{
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,.2);
  padding:10px;
  max-width:640px;
  margin-left: auto;
  margin-right: auto;
  }

  .input-group>.form-control, input.form-control , .input-group button.address{
     border:none;
     border-bottom:1px solid #666;
     border-radius:0px;
   }
   .card-img-top{
    width:auto;
     height:100px;
     float:left;
     margin-right:10px;
 }
 

.input-group .form-control{
  font-size:12pt;
  line-height:30px;
  color:#000;
  font-weight:normal;
  padding-right:35px;
  
  
  
}
.input-group .form-control.colorDark::placeholder{
  color:#000 !important;
}
.pl-15{
  padding-left:15px;
}
form{
  transition: all 1.5s ease-in-out;
}
.form-control{
  font-size:12pt;
  line-height:30px;
  color:#000;
  font-weight:bold;
}
.input-group span{
  float:left;
}
/*.input-group input{
  float:right;
}*/
.input-group .fa-plus{
  background-color: green;
    color: #fff;
    padding: 4px 6px;
    border-radius: 50%;
 }
 .input-group .fa-minus{
  background-color: red;
    color: #fff;
    padding: 4px 6px;
    border-radius: 50%;
 }
.edit-row{
  padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
.fa-times{
  color: rgba(0, 0, 0, 0.66);
}
button:focus, input:focus{
 
  outline:0px !important;
  box-shadow:none;
  -webkit-appearance:none;
}
.wd-100{
  max-width:100%;

}
.navigation-icon i,  .navigation-icon a {
  color:#2EA3F2;
  cursor: pointer;
}


.navigation-icon a{
font-size:17px;
}
.navigation-icon a span{
 padding-left:8px;
}
.navigation-icon .fa{
font-size:1.4rem;
}

@media only screen and (max-width: 460px) {
  .card-img-top{
      height:60px;
  }
 
  .input-group .btn{
    padding:0;
  }
  .input-group .form-control{
    font-size:10pt;
   }
   .fa-times, .fa-plus, .fa-minus{
    margin-top:8px;
    font-size:12px;
  }
 
}