/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
body{
    font-size:14px;
    line-height:18px;
    
    
    
}
body .ui-inputtext {
    font-size: 20px;
    color: #666;
    background: transparent!important;
   border:0px;
   text-align: center;
   padding:5px;
   width:100%;
   
   
    
}
.ui-calendar {
    width: 50%;
    margin:auto;
}
@media only screen and (max-width: 760px) {
    body .ui-inputtext {
        font-size:16px;
        
   }
    
   
  }
  @media only screen and (max-width: 460px) {
    body .ui-inputtext {
        font-size:13px;
        
     }
    .ui-calendar {
        width: 70%;
        margin:auto;
    }
  }